In [12]:
USE NewDB;

In [13]:
SELECT 2* 7 AS EASY;
SELECT SQRT(2) AS NOTSOEASY;

EASY
14

NOTSOEASY
1.4142135623730951

In [14]:
SELECT 7/2;
SELECT CAST(7 AS DECIMAL(5,2))/2;

(No column name)
3

(No column name)
3.500000

In [15]:
SELECT '4'+'4';
SELECT 4+4;
SELECT '4'+4

(No column name)
44

(No column name)
8

(No column name)
8

In [16]:
SELECT CAST('2019-1-1' AS DATE)
SELECT

(No column name)
2019-01-01

In [18]:
SELECT GETDATE() AS TODAY_DATE;

TODAY_DATE
2024-05-20 13:56:59.150

In [19]:
USE master;
GO

DROP DATABASE IF EXISTS TSQLDemoDB;
GO

CREATE DATABASE TSQLDemoDB;
GO

USE TSQLDemoDB;
GO

CREATE TABLE Customers  (
                        Customer VARCHAR(20) NOT NULL 
							PRIMARY KEY,
                        Country VARCHAR(20) NULL
                        );

CREATE TABLE Items		(
                        Item VARCHAR(20) NOT NULL 
							PRIMARY KEY,
						Color VARCHAR(10) NOT NULL
							CHECK (Color IN ('Black', 'White', 'Yellow', 'Blue', 'Red'))
                        );

CREATE TABLE Orders		(
						OrderID INTEGER NOT NULL 
							PRIMARY KEY,
						OrderDate DATE NOT NULL,
						Customer VARCHAR(20) NOT NULL 
							REFERENCES Customers(Customer) 
						);

CREATE TABLE OrderItems (
                        OrderID INTEGER NOT NULL 
							REFERENCES Orders(OrderID),
                        Item VARCHAR(20) NOT NULL 
							REFERENCES Items(Item),
                        Quantity INTEGER NOT NULL 
							CHECK (Quantity > 0),
                        Price DECIMAL(9,2) NOT NULL 
							CHECK (Price > 0),
                        PRIMARY KEY (OrderID, Item)
                        );

INSERT INTO Customers (Customer, Country)
VALUES	('Jack', 'USA'), ('Kelly', 'USA'), ('Sunil', 'India'), 
		('Chen', 'China'), ('Bob', NULL);

INSERT INTO Items (Item, Color)
VALUES  ('Headphones', 'White'), ('MP3 Player', 'Black'), 
		('Audio Cable', 'Blue'), ('Amplifier', 'Black'), ('Turntable', 'White');

INSERT INTO Orders (OrderID, OrderDate, Customer)
VALUES  (1, '20190101', 'Jack'), (2, '20190101', 'Bob'), 
		(3, '20190115', 'Jack'), (4, '20190116', 'Chen');

INSERT INTO OrderItems (OrderID, Item, Quantity, Price)
VALUES  (1, 'MP3 Player', 1, 27.00), (1, 'Headphones', 1, 35.50),
        (2, 'Turntable', 1, 170.00),
        (3, 'Amplifier', 1, 148.00), (3, 'Audio Cable', 3, 12.50),
        (4, 'Amplifier', 1, 133.50), (4, 'Audio Cable', 2, 11.00), (4, 'Turntable', 2, 155.50);

-- END

In [22]:
USE TSQLDemoDB;
SELECT 
    * 
FROM 
    Customers;

Customer,Country
Bob,NULL
Chen,China
Jack,USA
Kelly,USA
Sunil,India

In [25]:
USE TSQLDemoDB;
SELECT 
    'Pluralsight' 
AS 
    Training 
FROM 
    Customers;

Training
Pluralsight
Pluralsight
Pluralsight
Pluralsight
Pluralsight

In [26]:
USE TSQLDemoDB;
SELECT * FROM Customers;
SELECT * FROM Orders;
SELECT * FROM OrderItems;
SELECT * FROM Items

Customer,Country
Bob,NULL
Chen,China
Jack,USA
Kelly,USA
Sunil,India

OrderID,OrderDate,Customer
1,2019-01-01,Jack
2,2019-01-01,Bob
3,2019-01-15,Jack
4,2019-01-16,Chen

OrderID,Item,Quantity,Price
1,Headphones,1,35.50
1,MP3 Player,1,27.00
2,Turntable,1,170.00
3,Amplifier,1,148.00
3,Audio Cable,3,12.50
4,Amplifier,1,133.50
4,Audio Cable,2,11.00
4,Turntable,2,155.50

Item,Color
Amplifier,Black
Audio Cable,Blue
Headphones,White
MP3 Player,Black
Turntable,White

In [29]:
USE TSQLDemoDB;
SELECT
    *
FROM 
    Customers AS C 
INNER JOIN 
    Orders AS O 
ON
    C.Customer = O.Customer;

Customer,Country,OrderID,OrderDate,Customer
Jack,USA,1,2019-01-01,Jack
Bob,NULL,2,2019-01-01,Bob
Jack,USA,3,2019-01-15,Jack
Chen,China,4,2019-01-16,Chen

In [31]:
USE TSQLDemoDB;
SELECT 
    *
FROM 
    Customers AS C 
INNER JOIN 
    Orders AS O
ON
    1=1;

Customer,Country,OrderID,OrderDate,Customer
Bob,NULL,1,2019-01-01,Jack
Chen,China,1,2019-01-01,Jack
Jack,USA,1,2019-01-01,Jack
Kelly,USA,1,2019-01-01,Jack
Sunil,India,1,2019-01-01,Jack
Bob,NULL,2,2019-01-01,Bob
Chen,China,2,2019-01-01,Bob
Jack,USA,2,2019-01-01,Bob
Kelly,USA,2,2019-01-01,Bob
Sunil,India,2,2019-01-01,Bob
Bob,NULL,3,2019-01-15,Jack
Chen,China,3,2019-01-15,Jack
Jack,USA,3,2019-01-15,Jack
Kelly,USA,3,2019-01-15,Jack
Sunil,India,3,2019-01-15,Jack
Bob,NULL,4,2019-01-16,Chen
Chen,China,4,2019-01-16,Chen
Jack,USA,4,2019-01-16,Chen
Kelly,USA,4,2019-01-16,Chen
Sunil,India,4,2019-01-16,Chen

In [32]:
USE TSQLDemoDB;
SELECT * FROM Customers;
SELECT * FROM Orders;

Customer,Country
Bob,NULL
Chen,China
Jack,USA
Kelly,USA
Sunil,India

OrderID,OrderDate,Customer
1,2019-01-01,Jack
2,2019-01-01,Bob
3,2019-01-15,Jack
4,2019-01-16,Chen

In [33]:
USE TSQLDemoDB;
SELECT
    *
FROM 
    Customers AS C 
LEFT OUTER JOIN 
    Orders AS O 
ON
    C.Customer = O.Customer;

Customer,Country,OrderID,OrderDate,Customer
Bob,NULL,2,2019-01-01,Bob
Chen,China,4,2019-01-16,Chen
Jack,USA,1,2019-01-01,Jack
Jack,USA,3,2019-01-15,Jack
Kelly,USA,NULL,NULL,NULL
Sunil,India,NULL,NULL,NULL

In [34]:
USE TSQLDemoDB;
SELECT 
    * 
FROM 
    Customers
WHERE 
    Country IS NOT NULL;

Customer,Country
Chen,China
Jack,USA
Kelly,USA
Sunil,India

In [36]:
USE TSQLDemoDB;

SELECT * FROM Orders WHERE OrderDate BETWEEN '20190101' AND '20190115';

OrderID,OrderDate,Customer
1,2019-01-01,Jack
2,2019-01-01,Bob
3,2019-01-15,Jack

In [37]:
USE TSQLDemoDB;
SELECT * FROM Customers WHERE Country BETWEEN 'A' AND 'Z';

Customer,Country
Chen,China
Jack,USA
Kelly,USA
Sunil,India

In [39]:
USE TSQLDemoDB;
SELECT  * FROM Items;

Item,Color
Amplifier,Black
Audio Cable,Blue
Headphones,White
MP3 Player,Black
Turntable,White